.form {
  border: 1px solid var(--darkblue);
  padding: 1em 1em 0;
  margin: 1.5em 0;
  width: 100%;
}

.form h2 {
  margin: 0 0 1em;
}

.form p {
  font-weight: bold;
}

.form input {
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  margin: 0.5em 0 0.75em;
  padding: 0.25em;
  width: 100%;
}

.form textarea {
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  margin: 0.5em 0 0.75em;
  padding: 0.25em;
  resize: vertical;
  min-height: 4em;
  max-height: 8em;
  width: 100%;
}

.form button {
  display: block;
  margin: 1.5em auto;
}