.header {
  background: var(--black);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}

.logo h1 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 0.5em;
}

.nav {
  border-bottom: 2px solid rgb(36, 36, 36);
  border-left: 2px solid rgb(36, 36, 36);
  padding: 30px 0 1em;
  position: fixed;
  top: 0;
  right: -330px;
  background: var(--black);
  min-width: 330px;
  -webkit-box-shadow: -8px 10px 16px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 10px 16px 6px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 10px 16px 6px rgba(0, 0, 0, 0.75);
  transition: right ease-in-out 0.125s;
}

.nav.activeMenu {
  right: 0px;
}

.navList {
  margin: 0;
  padding: 0;
}

.navList li {
  margin: 1em 1.5em;
}

.navList a {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

.navList a.activeLink {
  color: var(--red);
}

.navBtns {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn {
  border: 2px solid var(--red);
  border-radius: 50px;
  display: inline-block;
  font-size: 1.125rem;
  margin: 0.6em 0.5em 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
}

.signup {
  background: var(--red);
  color: var(--white);
}

.login {
  color: var(--red);
}

.navList .logoutLi {
  margin: 1em 1.5em 0.5em;
  text-align: center;
}

.logout {
  color: var(--red);
  background: transparent;
  margin-bottom: 0;
}

.hamburger {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px 0 8px 15px;
  margin-right: 7px;
  border-bottom-left-radius: 100%;
  transition: ease-in-out 0.25s;
  z-index: 3;
}

.hamburger div {
  height: 3px;
  background-color: var(--white);
  margin: 7px auto;
  transition: transform ease-in-out 0.125s;
}

.hamburger div:nth-child(1) {
  width: 34px;
}

.hamburger div:nth-child(2) {
  width: 22px;
}

.hamburger div:nth-child(3) {
  width: 10px;
}

.hamburger:hover div {
  background-color: var(--white);
}

.hamburger.displayed div:nth-child(1) {
  transform: translate(2px, 10px) rotate(45deg);
}

.hamburger.displayed div:nth-child(2) {
  transform: translate(2px, 0px) rotate(-45deg);
}

.hamburger.displayed div:nth-child(3) {
  opacity: 0;
}

.hamburger:focus {
  outline: none;
}
